<header>
    <a href="/">Home</a>
    <a href="/user/me">User</a>

    <a href="/signup">Sign Up</a>
    <a href="/signin">Sign In</a>
    <a href="/cart">Cart
        <span>0</span>
    </a>
</header>