body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    max-width: 80%;
    display: block;
    align-items: center;
    justify-content: center;
    margin: 0 auto !important;
}

 a {
    text-decoration: none !important;
    color: grey  !important;
}

 a:hover {
    color: #4db4cd  !important;
    cursor: pointer  !important;
    text-decoration: none  !important;
}

.navbarItemsposition {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: grey;

}


nav ul button {
    border: none;
    outline: none;
    background: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: grey;
}

nav ul button:hover {
    color: #4db4cd;
    cursor: pointer;
}

.productsList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsTitleDecor {
    border-bottom: 2px solid gray;
    border-top: 2px solid gray;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.productsTitleDecor p {
    color: grey;
    font-size: 20px;
    margin: 0 auto;
}

.productsList > div {
    display: inline-block;
    width: 250px;
    height: auto;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-left: 8px;
}

.productsList img {
    width: 100%;
}

.productsList h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productsList p {
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter {
    margin-bottom: 20px;
}

.filter button {
    border: none;
    outline: none;
    background: none;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    color: grey;
}
.filter button:hover {
    color: #4db4cd;
    cursor: pointer;
}

.filter button:active {
    border: 2px solid #4db4cd;
}

.filter input {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
}