p {
    width: 100%;
}

.col-sm-3 {
    width: auto !important;
    padding-top: 15px !important;
}

img {
    width: 100% !important;
}

.buttonDiv {
    margin-right: 10px;
    margin-top: 15px;
}

.buttonDiv button {
    border: 1px solid gray;
    float: right;
    margin-right: 10px;
    color: gray;
}
nav {
    display: flex !important;
    align-items: center;
    justify-content: end;
}

.buttonDiv a {
    text-decoration: none !important;
    margin-right: 10px;
    color: gray;
    cursor: pointer;
}

.buttonDiv a:hover {
    text-decoration: none !important;
    color: gray;

}



