<!DOCTYPE html>


<html>

<head>
    <title>Dynamic shop</title>
    <link href="./css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="d-flex align-items-center justify-content-center">
        {{>header}}
    </div>
    <div class="productsTitleDecor">
        <p>PRODUCTS</p>
    </div>
    <div class="d-flex align-items-center justify-content-center filter">
        <input type="button" id="minToMax" value="min - max">
        <input type="button" id="maxToMin" value="max - min">
    </div>
    <div class="productsList row" id="productsList">
    </div>
    <script>
        var dataArray = JSON.parse(`{{{products}}}`);
    </script>
    <script src="/js/products.js"></script>
    <script src="/js/cart.js"></script>
</body>

</html>