<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Message</title>
</head>

<body>
    <div class="d-flex align-items-center justify-content-center">
        {{>header}}
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <h2>Success!</h2>
    </div>
    <div class="d-flex align-items-center justify-content-center">
        <h4>Now you can log in</h4>
    </div>
</body>

</html>