<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="stylesheet" href="./products.css">
    </head>

    <body>

        <div>
            <h2>Products</h2>
        </div>
        <div>
        <table id="productsTable" class="tableStyle">
            <tr>
                <th>Product id</th>
                <th>Product name</th>
                <th>Product image</th>
                <th>Product description</th>
                <th>Product price</th>
                <th>Action</th>
            </tr>
            <tr>
                <th></th>
                <th><input type="text" id="name" name="name" required ></th>
                <th><form action="#"><input type="file" id="myFile" name="filename"></form></th>
                <th><input type="text" id="name" name="name" required ></th>
                <th><input type="text" id="name" name="name" required ></th>
                <th><button>Edit</i></button> <button>Delete</i></button></th>
            </tr>
        </table>
        <button>Save</button>
        </div>


        <div>
            <h2>Users</h2>
        </div>
        <div>
            <table id="usersList" class="">
                <tr>
                    <th>User id</th>
                    <th>User name</th>
                    <th>User email</th>
                    <th>User password</th>
                    <th>Action</th>
                </tr>
            </table>
            <button>Save</button>
        </div>
        

          <script src="../../products.js"></script>
    </body>
</html>