<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Update User</title>
</head>

<body>
          <div class="d-flex align-items-center justify-content-center">
        {{>header}}
    </div>
    <div class="d-flex align-items-center justify-content-center">
        {{>adminTools}}
    </div>

    <div>
        <div class="bodyDiv">
            <form method="post">
                <input placeholder="User's full name" class="col-md-12" name="name" type="text" value="{{name}}">
                <input placeholder="User's email" class="col-md-12" type="email" name="email" value="{{email}}">
                <input placeholder="User's password" class="col-md-12" name="password" type="password">
                <select class="col-md-12" name="role">
                    <option value="user">user</option>
                    <option value="admin">admin</option>
                </select>
                <input type="submit" value="Update Information">
            </form>
        </div>
    </div>
    
</body>
</html>